.areaHeader {
    height: 69px;
    background-color: rgb(32, 44, 51);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 10px;
}
.user-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.user-name {
    font-size: 16px;
    color: rgb(134, 150, 160);
}
.options {
    display: flex;
    flex-direction: row;
    align-items: center;
}